<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK Server Client</title>
</head>

<body>
    <h1>FLASK Server Client</h1>
    <p id="message"></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>

        //       async function turnOn(idInput: string) {
        //     // Remove previous event listener
        //     socket.off("controller/TurnOnRobot/response");

        //     socket.emit("controller/TurnOnRobot/request", { id: idInput });

        //     socket.on("controller/TurnOnRobot/response", (data: any) => {
        //       console.log("Turn On Response Received", data);
        //     });
        //   }
        const socket = io.connect('http://localhost:5000'); // Update with your server URL
        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });

        socket.on('message', (data) => {
            document.getElementById('message').innerText = `Message from server: ${data.message}`;
        });

        socket.on('flask_to_client_message', (data) => {
            console.log(`Received message from Flask server: ${data.message}`);
            // Update the UI or perform actions as needed
        });
    </script>
</body>

</html>